@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #fdfbf8;
  --foreground: #1c1917;
}

.dark {
  --background: #0c0a09;
  --foreground: #f5f5f4;
}

html {
  scroll-padding-top: 64px;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-mono), ui-monospace, monospace;
}
