@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html {
  scroll-padding-top: 64px;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-mono), ui-monospace, monospace;
}
